body{
  font-family: "Varela Round", sans-serif;
}
nav{
  display: flex;
  flex-direction: row;
  float: left;
}

ul {
  list-style-type: none;
  background: black;
  margin: 0;
  padding: 0;
}


table{
  width:100%;
  padding: 0px 200px 10px;
  color: #F76C6C;
}

th{
  text-align: center;
  height: 50px;
  border-bottom: 1px solid lightgray;
  padding:15px;
}

td{
  text-align: center;
  width: 200px;
  border-bottom: 1px solid lightgray;
  padding:15px;
}

hr{
  display:none
}

footer{
  color: white;
  padding: 20px;
  background-color: rgb(59, 66, 78);
  text-align: center;
}

footer a{
  color: lightblue;
}

.wild-circus {
  padding: 40px 40px 500px;
  text-align: left;
  background-image: url('https://www.mediamatic.net/image/2016/12/14/selectie_2.jpg%28mediaclass-full-width.c3083fedae46a95f1139ff9d5833b1b6b8e20a69%29.jpg');
  background-size: cover;
  color: #F76C6C;
  font-size: 3em;
  text-shadow: 2px 2px 3px black;
  margin-bottom: 0;
}

.navigation{
  display: flex;
  flex-direction: row;
  float;left;
}

.navigation_item{
  border: 1px solid white;
  padding: 20px 0;
  color: white;
  width: 25%;
  box-sizing: border-box;
  background-color: rgb(59, 66, 78);
  text-align: center;
}

.navigation a{
  color: white;
}


.list{
  padding:10px 70px 20px 70px;
  text-align: justify;
}
.list-title{
  text-align: left;
  border-bottom: 1px solid #F76C6C;
}



.name,
.email,
.subject{
border: 1px solid lightgray ;
text-align: left;
padding-bottom: 20px;
margin: 0px 300px 0px 300px;
}

.massage{
padding: 1px solid lightgray ;
padding-bottom: 100px;
text-align: left;
border: 1px solid lightgray;
margin: 0px 300px 0px 300px;

}

.send{
  text-decoration-color: lightgray;
border: 2px outset lightgray ;
padding: 5px 5px 5px 5px;
background-color: #F76C6C;
text-align: Center;
margin: 10px 700px 10px 700px;

}

#margin{
  margin-top: 10px
}

#graystyle{
  background-color: rgb(59, 66, 78);
  margin:0px;
  color: white;
}

.in-middle {
  text-align: center;
  background-color: lightgray;
  padding: 20px 0px;
  margin:0;
  color: black;
}



.about-us{
display: flex;
flex-direction:row;
}

.about-us-text{
  background-color: #F76C6C;
  margin: 0;
  width:80%;
  height: auto;
  padding: 5px 0px 5px 20px;
  color: white;
}

#bold-text{
  font-size: 20px;
  text-shadow: 2px 2px 3px gray;
}
.shadow-text{
  text-shadow: 1px 1px 2px white;
  color: black;
  font-size:20px;
}

#shadow{
  font-size: 25px;
  line-height:1;
  text-shadow: 2px 2px 3px black;
  text-align: center;
}



.about-us-images{
  margin: 0;
display:flex;
flex-wrap: wrap;
width:50%;
}

.about-us-image{
  width:100%;
  hight:50%;
  box-shadow: 2px 2px 3px;
  border: 1px solid #ddd;
  border-radius: 4px;

}

.container {
  position: relative;
  display: inline;
  width:50%;
}

.overlay{
z-index: 1;
margin: 0;
overflow: auto;
position: absolute;
  bottom: 0;
  background: #F76C6C;
  opacity: 0.5;
  color:white;
  text-shadow: 1px 1px 2px gray;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
width: 100%;
}

.container:hover .overlay {
  opacity: 1;

}
